* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}

.main-container {
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;

  #login-input,
  #password-input,
  #email-input {
    border: none;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
  }

  #addUser-button,
  #saveUser-button {
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    background-color: rgb(6, 182, 6);
    color: whitesmoke;
  }

  th {
    width: 100px;
  }

  .no-width {
    width: 0;
  }

  .login-text,
  .password-text,
  .email-text {
    font-size: 17px;
  }

  .tables-side {
    margin-top: 32px;
  }

  .upper-line,
  .bottom-line {
    border-top: 1px solid #000;
    width: 500px;
    position: absolute;
  }

  #editUserBtn {
    height: 25px;
    width: 50px;
    border: none;
    border-radius: 5px;
    background-color: yellow;
  }

  #deleteUserBtn {
    height: 25px;
    width: 50px;
    border: none;
    border-radius: 5px;
    background-color: red;
  }


  .errorLogin,
  .errorPassword,
  .errorEmail {
    color: rgb(226, 133, 133);
    margin-bottom: 10px;
    display: none;
  }

}
